.contact-main {
    background-color: $color-secundario;
    .contact-reach {
        @include flex(flex, column,"");
        align-items: center;
        padding: 5rem 2rem;
        h1{
            margin-bottom: 20px;
        }
        p{
            text-align: justify;
        }
    }
    .deal {
        @include grid(grid, 1fr 1fr, 1fr);
        margin: 3rem 3rem 0;
        padding-bottom: 100px;
        h4{
            grid-column: 1/2;
            grid-row: 1/2;
            align-self: center;
            margin-right: 10%;
        }
        .contact-img-flex {
            @include flex(flex, row, center);
            grid-column: 2/3;
            grid-row: 1/2;
            align-items: center;
            #handshake {
                width: 750px;
                height: 500px;
            }
        }
    }
}




