.grid-footer {
    padding: 3rem 0;
    background-color: $color-principal;
    @include grid(grid, .25rem 1fr .25rem, repeat(3, auto));
    h2{
        justify-self: center;
        align-self: center;
        text-align: center;
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 8px 48px 70px;
        font-size: nth($font, 4);
    }
    .cprght {
        grid-column: 2/3;
        grid-row: 3/4;
        color: $color-titulos;
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin-left: 10px;
            margin-top: 7px;
            font-size: nth($font, 8 );
        }
    }
}