.cont-head {
    background-color: $color-secundario;
    @include grid(grid, 1fr 1fr,"");
    aside{
        grid-column: 1/2;
        @include flex(flex, column, center);
        margin: 3rem;
    }
    h1{
        margin-bottom: 1rem;
    }
    p{
        text-align: justify;
        font-size: nth($font, 4);
    }
    .cont-prof {
        grid-column: 2/3;
        justify-self: center;
        @include flex(flex,row,center);
        height: 450px;
        width: 450px;
        margin: 3rem;
        #img-prof {
            height: 100%;
            width: calc(100% - 68px);
        }
    }
    
}
.cont-reach {
    background-color: $color-secundario;
    @include grid(grid,1fr 1fr,"");
    .reach-left {
        grid-column: 1/2;
        margin: 3rem;
        h2{
            margin-bottom: 2rem;
        }
    }
    .reach-right {
        grid-column: 2/3;
        align-items: center;
        @include flex(flex, row, space-between);
        margin: 3rem;
    }
}

.prev-project {
    @include grid(grid, .25rem 1fr .25rem,"");
    background-color: $color-principal;
    .pp-container {
        @include flex(flex, row, start);
        align-items: center;
        margin: 3rem;
        grid-column: 1/4;
        h3{
            display: inline;
            white-space: nowrap;
            margin-right: 3rem;
        }
        .line {
            display: inline-block;
            background-color: $color-acento;
            width: 100%;
            height: calc(2.2rem * 1/8);
            align-self: center;
            margin: 0 24px 0 0;
        }
    }
}
.project-display {
    background-color: $color-secundario;
    .link-card {
        color: $color-titulos;
    }
}

.link-card {
    color: $color-titulos;
    &:hover{
        color: $color-titulos;
    }
}