.reg-bckgnd {
    background-color: $color-secundario;
    min-height: 100vh;
    .reg-head {
        @include flex(flex, column,"");
        padding: 3rem 0;
        margin: 0 3rem;
        align-items: center;
        h1{
            margin-bottom: 3rem;
        }
    }
}