body{
    font-family: Consolas, Monaco, monospace;
}
h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 4.5rem;
}
h2{
    font-size: 3rem;
    color: #fff;
}
p{
    color: #adb5bd;
    font-size: 3rem;
}
h3{
    font-size: 2.2rem;
    color: #fff;
}
h4{
    font-size: 3rem;
    color:#adb5bd;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}
