body{
    font-family: Consolas, Monaco, monospace;
}
h1{
    color: $color-titulos;
    margin-bottom: 1rem;
    font-size: nth($font, 1);
}
h2{
    font-size: nth($font, 2);
    color: $color-titulos;
}
p{
    color: $color-parrafo;
    font-size: nth($font, 2);
}
h3{
    font-size: nth($font, 4);
    color: $color-titulos;
}
h4{
    font-size: nth($font, 2);
    color:$color-parrafo;
}
a{
    color: $color-titulos;
    text-decoration: none;
    font-size: nth($font, 5);
}
